body {
  margin: 0;
}

.content {
  margin: 30px 55px;
}

/* Style for navbar */
header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0px 55px;
}

header h3 {
  margin: 0;
  margin-right: auto;
  text-decoration: none;
  padding: 6px;
}

header a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
}

header a.active {
  background: #0056b3;
  color: #fff;
}

.sign_out_button {
  background-color: #007bff;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  padding: 0;
  font-size: medium;
  margin-bottom: 4px;
}

/* Style for form */
.form {
  width: 18%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input fields */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Style for the submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for error messages */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}

ul {
  padding-inline-start: 10px;
}

.profile-container {
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.profile {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  
}

.heading {
  color: #333;
}

.user-info {
  margin-bottom: 15px;
}

.info-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-value {
  color: #555;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 45%;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.unauthorized {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: bold; 
  color: red;
}

.avatar {
  width: 20%;
}

.post-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-body {
  font-size: 1rem;
  color: #555;
}

.post > button {
  left: 0;
  margin-right: 10px;
}