/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h3 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

.form {
  width: 18%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input fields */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Style for the submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for error messages */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}